/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GOBAL VARIABLER */
:root {
  /* Variabler på farger, font og størrelser */
  --primaryColor: #87BBA2;
  --secondaryColor: #3B6064;
  --accentColor: #C9E4CA;

  --fontFamily: "Roboto";

  --generalSpace: 16px;
  --bigSpace: 32px;

  --myImage: "./code.png";
}

/* GLOBAL STYLING */
body {
  margin: 0;
  font-family: "Roboto";
}

/* Header */
header {
  background-color: var(--primaryColor);
}

img {
  max-width: 100%;
}

section {
  height: 100vh;
}

.flex {
  display: flex;
}

.fiftyFifty {
  width: 50%;
}

/* LOKAL STYLING */
/* Header */
.header {
  justify-content: space-between;
}

.navList {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  gap: var(--generalSpace);
}

.hamburgerIcon {
  display: none;
}

/* Hero */
.hero {
  align-items: center;
  justify-content: center;
}
.heroText {
  text-align: center;
}

.heroImg {
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

/* About */
.about {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--generalSpace);
  background-color: var(--primaryColor);
}

.aboutList,
.aboutText {
  width: 50%;
}

/* Project */
.project {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--generalSpace);
}

.projectContainer {
  gap: var(--bigSpace);
}

.projectCard {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

/* Footer */
.footer {
  background-color: var(--primaryColor);
}

/* MEDIA QUERRY */
/* Tablet and below */
@media (max-width: 769px) {
  /* Header */

  /* Hero */
  .hero {
    flex-direction: column;
  }

  .fiftyFifty.touchLine {
    width: 100%;
  }

  .fiftyFifty.touchLine.heroImg {
    height: 300px;
    width: 300px;
  }

  /* About */

  /* Project */
  .projectContainer {
    flex-direction: column;
  }

  /* Footer */
}.footer {
  align-items: center;
  justify-content: center;
}